<p>Spiritgate is a DOTA 2 Total Conversion addon</p>
<p>This mod is a continuation of the Waystone Games's Cancelled MOBA Dawngate</p>
<p>Join us on <a href="http://reddit.com/r/spiritgate" target="_blank">/r/spiritgate</a></p>
<br/>
<p>Features:</p>
<div class="row">
	<div class="col-xs-6">
		<ul class="list-group">
			<li class="list-group-item list-group-item-success">Custom Items and Item Shop</li>
			<li class="list-group-item list-group-item-success">Custom UI</li>
			<li class="list-group-item list-group-item-success">Custom Shaper Selection</li>
			<li class="list-group-item list-group-item-success">Roles (Gladiator / Tactician / Hunter / Predator)</li>
			<li class="list-group-item list-group-item-success">Improved Auto-Attack System</li>
			<li class="list-group-item list-group-item-success">Map</li>
		</ul>
	</div>
	<div class="col-xs-6">
		<ul class="list-group">
			<li class="list-group-item list-group-item-warning">Original Shapers (Many Done, some incomplete)</li>
			<li class="list-group-item list-group-item-danger" >Parasite</li>
			<li class="list-group-item list-group-item-warning">Jungle</li>
			<li class="list-group-item list-group-item-warning">Spirit Wells</li>
			<li class="list-group-item list-group-item-success">Bindings</li>
			<li class="list-group-item list-group-item-warning">Guardian</li>
		</ul>
	</div>
</div>
