<p>
	<p>1.) <b>Create</b> or <b>log</b> into a spiritgate.net account (Optional)</p>
	<p>2.) Download <a href="http://store.steampowered.com/"  target="_blank">Steam</a> and create an account</p>
	<p>3.) Link your spiritgate account to your steam account in the user panel on the right</p>
	<p>4.) Install <a href="http://store.steampowered.com/app/570"  target="_blank">DoTA 2</a></p>
	<p>5.) Subscribe to <a href="http://steamcommunity.com/sharedfiles/filedetails/?id=466395768"  target="_blank">Spiritgate</a> on the DoTA 2 Workshop</p>
	<p>6.) Start DoTA 2 and browse to Custom Games -> Library -> Spiritgate -> Play</p>
</p>