<div class="row">
	<div class="col-xs-6">
		<h3>Gavin "gigimoi" Gassmann</h3>
		<p>Lead Developer</p>
		<a href="mailto:gassmann.gavin@gmail.com">gassmann.gavin@gmail.com</a>
	</div>
	<div class="col-xs-6">
		<h3>"Justus954"</h3>
		<p>Particle Designer</p>
	</div>
	<div class="col-xs-6">
		<h3>"Nuunes3"</h3>
		<p>Artist</p>
	</div>
	<div class="col-xs-6">
		<h3>"Apidae"</h3>
		<p>Artist</p>
	</div>
	<div class="col-xs-6">
		<h3>"Shadom"</h3>
		<p>Mapper</p>
	</div>
	<div class="col-xs-6">
		<h3>"SirFatCat"</h3>
		<p>Quality Assurance</p>
	</div>
</div>
<div class="well well-sm">
	Special Thanks to Noya, BMD, Perry, Ash47, idler2, wigguno, Hewdraw, DarkMio, Arhowk, DoctorGester, VicFrank, jimmydorry, Infekma, ChalkyBrush, Myll, movexig, Pizzalol, SinZ, a_dizzle, func_door, Divayth, penguinwizard, RoyAwesome, SQL, and Toyoka. <br/><br/>Without whom, this project would be impossible.
</div>