{% extends "base.html" %}
{% block body %}
<div class="panel panel-default">
	<div class="panel-heading">
		<h2>Spending Policy</h2>
		<br/>
		<p><a href="/">Back to Home</a></p>
	</div>
	<div class="panel-body">
		<ul>
			<li>The Spiritgate team is not a business</li>
			<li>The Spiritgate team is not a charity <a onclick="swal('', 'The Spiritgate team is a group of people working on bringing the Dawngate dream back to life.', '')">(Then what is it?)</a></li>
			<li>The Spiritgate team will use funds to improve Spiritgate</li>
			<li>The Spiritgate team will not be financially compensated for work on Spiritgate. Time is considered donated.</li>
			<li>The Spiritgate team will not have access to funds over $10 per week without a majority vote<ul><li>If a member of the team has been absent for more than 3 days, they will not be included in the vote.</li></ul></li>
			<li>The Spiritgate team will not spend funds on assets that could be produced at similar quality in-house</li>
			<li>The Spiritgate team will not spend funds on assets to be included in Supporter packs, except when it is unreasonable that the improved quality of the supporter pack will not net revenue</li>
			<li>The Spiritgate team will not have access to funds for personal use<ul><li>Except in extreme and immediate personal emergencies - in which case a public explanation and apology will be made. The team member drawing funds will also be expected to repay into the Spiritgate Fund as the situation allows.</li></ul></li>
			<li>The Spiritgate team will not treat Supporter Pack purchasers apart from other Spiritgate players</li>
			<li>Donations from outside the team will not be accepted. <a onclick="swal('', 'In other projects past, donations have led to donators gaining some control of the project because their ability to donate. We want to avoid this, so we do not accept donations from outside the team.\n\nSupporter packs do not have this problem. We cannot feel obligated to compensate financial contributors with control because they have been appropriately compensated with in-game cosmetic items.', '')">(Reason)</a></li>
			<li>The Spiritgate website will not store private information regarding your Credit Card, Connection (IP Address and related information), or <a onclick="swal('', 'Your steam id will be stored. However, this is public information. It is also essential to connecting your spiritgate.net inventory with the game client.', '')">Steam Account</a></li>
			<li>The Spiritgate team will not surrender database information to any external party - and will attempt to wipe the database if forced to surrender it.</li>
			<li>If a member of the Spiritgate team is found to be breaking any of these rules, they will no longer have access to the Spiritgate Fund for a period of time reasonable for the infraction. For more severe infractions, the member may be ejected from the team.</li>
		</ul>
		<br/>
		<p>
			Close adherance to this policy will keep the moral fiber of modding, recreating a lost treasure, and non-profit work intact; while still allowing for funding to advance the project in ways that cannot be done without funding.
			<br/>
			So help us Nick Cage
		</p>
	</div>
</div>
{% endblock %}