#ChatMessage {
	width: 100%;
	height: 40px;
}

#ChatMessage Label {
	margin: 2px;
	font-size: 20px;
	text-align: right;
	horizontal-align: right;

	background-color: #00000055;
	border: 1px solid #000000AA;
}