#ChatMessage {
	height: 40px;
	horizontal-align: right;
	background-color: gradient( linear, 0% 0%, 0% 75%, from( #000000FF ), to( #00000000 ) );
}

#ChatMessage Label {
	margin-top: 2px;
	margin-bottom: 2px;
	font-size: 20px;
	vertical-align: center;
}
#ChatMessage Image {
	margin: 5px;
	font-size: 20px;
}