.main-ui {
	width: 100%;
	height: 100%;
}

#PanelInventory {
	height: 35%;
	width: height-percentage(42%);
	vertical-align: bottom;
}
.inventory_item {
	margin-left: 4px;
	margin-bottom: 2px; 
	margin-top: 2px; 
	width: 33%;
}
.inventory_item_cooldown {
	background-color: #020202AA;
	height: 100%;
}

#TopBar {
	width: 100%;
	height: 50px;
}

#TopBarOpenMenu {
}

#PlayerInfo {
	height: 35%;
	width: height-percentage(50%);
	background-image: url("file://{images}/custom_game/ui/hero_panel_background.png");
	background-size: 100% 100%;
}

#PlayerInfoAvatarImage {
	box-shadow: fill #020202 -2px -2px 4px 4px;
	border: 1px solid #565656;
	border-bottom: 3px solid #565656;
	margin-bottom: 1px;
	margin: 4px;
}

.passive {
	box-shadow: fill #020202 -2px -2px 4px 4px;
	margin: 4px;
}

.statlabel {
	width: fill-parent-flow(70);
}
.statimage {
	width: fill-parent-flow(30);
	height: width-percentage(100%);
}