#MinimapPanel {
	width: 100%; 
	height: width-percentage(100%); 
	vertical-align: bottom; 
	background-image: url('file://{images}/custom_game/ui/minimap.png');
	background-size: 100% 100%;
}
#Minimap {
	width: 100%;
	height: 100%;
	opacity-mask: url('file://{images}/custom_game/minimap_dusk_and_dawn.png');
	opacity: 0.73;
	margin: 6px;
}

#MinimapHeroImage {
	opacity-mask: url('file://{images}/custom_game/minimap_player_icon_mask.png');
	width: 60%;
	height: 60%;
	margin-left: 20%;
	margin-top: 20%;
}